<script>
import { mapGetters, mapMutations } from "vuex";
import "./index.css";

export default {
  name: "CartWrapper",
  data() {
    return {
      is_cost_increased: null,
    }
  },
  computed: {
    ...mapGetters(["getCartGoods", "getCartGoodsTotal", "getUSD"]),
  },
  methods: {
    ...mapMutations(["addToCart", "deleteFromCart", "isCostIncreased"]),
    getBorderColor() {
      return {
        'border-red': this.is_cost_increased === true,
        'border-green': this.is_cost_increased === false,
      }
    }
  },
  watch: {
    getUSD(new_val, old_val) {
      this.is_cost_increased = new_val > old_val;
    }
  }
};
</script>

<template>
  <table>
    <thead>
      <tr>
        <th>Корзина</th>
      </tr>
    </thead>
    <template v-if="getCartGoods.filter((v) => v.quantity > 0).length">
      <tbody>
        <tr
          v-for="item of getCartGoods.filter((v) => v.quantity > 0)"
          :key="item.id"
        >
          <td>{{ item.group_name }}. {{ item.name }} ({{ item.quantity }})</td>
          <td>
            <input type="number" disabled="disabled" v-model="item.quantity" :class="getBorderColor()"/>
            <button @click.prevent="addToCart(item)">+</button>
            <button @click.prevent="deleteFromCart(item)">-</button>
          </td>
          <td>{{ item.cost }}</td>
        </tr>
      </tbody>
      <tfoot>
        <th>
          <tr>
            Итого:
            {{
              getCartGoodsTotal
            }}
          </tr>
        </th>
      </tfoot>
    </template>
    <template v-else>
      <tbody>
        <tr>
          <td>Здесь ничего нет ;)</td>
        </tr>
      </tbody>
    </template>
  </table>
</template>