<script>
import { mapGetters, mapMutations } from "vuex";
import "./index.css";

export default {
  name: "GoodsWrapper",
  computed: {
    ...mapGetters(["getGroupedGoods"]),
  },
  methods: {
    ...mapMutations(["addToCart"]),
  }
};
</script>

<template>
  <template v-for="group of getGroupedGoods.filter(v => v.items.length)" :key="group.id">
    <table>
      <thead>
        <tr>
          <th>{{ group.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of group.items.filter(v => v.quantity > 0)" :key="item.id">
          <td>{{ item.name }} ({{ item.quantity }})</td>
          <td>{{ item.cost }}</td>
          <td><button @click.prevent="addToCart(item)">В корзину</button></td>
        </tr>
      </tbody>
    </table>
  </template>
</template>