<script>
import { mapActions } from "vuex";
import GoodsWrapper from "./components/Goods";
import CartWrapper from "./components/Cart";

export default {
  name: "App",
  components: {
    GoodsWrapper,
    CartWrapper,
  },
  data() {
    return {
      interval: null,
    };
  },
  methods: {
    ...mapActions(["fetchGoods", "fetchRawData"]),
  },
  async created() {
    await this.fetchGoods();

    this.interval = setInterval(async () => {
      await this.fetchRawData();
    }, 15000);
  },
  destroy() {
    clearInterval(this.interval);
  },
};
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>

<template>
  <div>
    <GoodsWrapper />
    <hr/>
    <CartWrapper />
  </div>
</template>